@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Fira Code";
    src: url("../assets/fonts/FiraCode-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root{
  --bg-color: #0d0d0d75;
  --primary-color: #00d3cc;
  --secondary-color: #a855f7;
  --text-color: #e5e5e5;
  --font-family: "Fira Code", Consolas, "Courier New", Courier, monospace;
  --glitch-anim-duration: 0.5s;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  height: 100%;
}
